on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 6 * * 1"

name: local-omopgenerics

jobs:
  local-omopgenerics:
    uses: ./.github/workflows/test-template.yaml
    with:
      DB_TO_TEST: local-omopgenerics
